{{{initialData}}}
<section class="dashboard-content">
  {{!-- <div class="cms-notice">* Content Management System coming soon</div> --}}
  <div class="dashboard-container">
    <div class="w-layout-grid main-grid">
      <div data-duration-in="300" data-duration-out="100" data-current="All projects" data-easing="ease" class="w-tabs">

        <div class="in-page-container">
          <div class="in-page-menu">
            <a data-w-tab="By category" class="in-page-link w-inline-block w-tab-link w--current">
              <div class="text-block-4">By category</div>
            </a>
            <a data-w-tab="By Frequency" class="in-page-link w-inline-block w-tab-link">
              <div class="text-block-5">By frequency</div>
            </a>
            <a data-w-tab="All" class="in-page-link w-inline-block w-tab-link">
              <div class="text-block-5">All</div>
            </a>
          </div>
          <div class="search-wrapper">
            <div class="search-container">
              <button class="search-icon">
                {{> svg/searchIcon}}
              </button>
              <input type="text" class="search-input" placeholder="Search biomarkers...">
              <button class="clear-icon hidden">
                {{> svg/searchBar}}
              </button>
            </div>
          </div>
        </div>


        <div class="w-tab-content">
          <div data-w-tab="By category" class="w-tab-pane w--tab-active">
            <div class="dropdown-wrapper">

              <!-- Categories WITH biomarkers -->
              {{#each markerCategories as |category|}}
              {{#if (hasBiomarkersInCategory ../biomarkerData category.name)}}
              <div id="{{category.name}}" class="dropdown-content-top">
                <div data-hover="false" data-delay="0" class="category-dropdown-icon-2 w-dropdown">
                  <div class="category-dropdown-toggle w-dropdown-toggle">
                    <div class="category-title-dropdown-container dropdown-container">
                      <h3 class="category-subtitle">{{category.name}}</h3>
                      <span class="dropdown-arrow"></span>
                    </div>
                  </div>
                  <nav class="category-dropdown-list w-dropdown-list">
                    <div class="dropdown-content-bottom">
                      <div class="w-layout-grid table-headers _3-columns">
                        <div class="caption-large">Marker</div>
                        <div class="caption-large">details<br></div>
                        <div class="caption-large">Results</div>
                        <div class="caption-large">RANGE BAR</div>
                      </div>
                        {{#each ../biomarkerData as |biomarker biomarkerName|}}
                        {{#if (eq biomarker.category category.name)}}
                        {{#if biomarker.value}}
                        <article class="biomarker-container">
                          <div class="biomarker-container-hover">
                            <div>
                              <div class="w-layout-grid biomarker-table-top _3-columns">
                                <div class="biomarker">{{biomarkerName}}</div>
                                <div class="biomarker-dropdown">
                                  <div class="stripe-1"></div>
                                  <div class="stripe-2"></div>
                                </div>
                                <div class="biomarker-result">{{biomarker.value}} {{biomarker.unit}}</div>
                                <div class="html-embed w-embed">
                                  <div id="range-bar-{{toLowerCase (replace biomarkerName ' ' '')}}" class="svgBoxContainer">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0, 0, 420, 90" width="95%"
                                      class="svgBoxContent">

                                      <!-- Gradients -->
                                      <defs>
                                        <linearGradient id="optimalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}" x1="0%" y1="0%" x2="0%" y2="100%">
                                          <stop offset="0%" style="stop-color:#9be29b;stop-opacity:1" />
                                          <stop offset="100%" style="stop-color:#85bb83;stop-opacity:1" />
                                        </linearGradient>
                                        <linearGradient id="normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}" x1="0%" y1="0%" x2="0%" y2="100%">
                                          <stop offset="0%" style="stop-color:#c7ebc5;stop-opacity:1" />
                                          <stop offset="100%" style="stop-color:#b7ddb5;stop-opacity:1" />
                                        </linearGradient>
                                        <linearGradient id="highGradient-{{toLowerCase (replace biomarkerName ' ' '')}}" x1="0%" y1="0%" x2="0%" y2="100%">
                                          <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                          <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                        </linearGradient>
                                        <linearGradient id="lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}}" x1="0%" y1="0%" x2="0%" y2="100%">
                                          <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                          <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                        </linearGradient>
                                      </defs>

                                      {{!-- Range Bar Lengths, Colors, Shapes, etc --}}
                                      {{#with (parseReferenceRange this.referenceRange) as |range|}}
                                      {{#with (calculateRangeScaling range.min range.max) as |scaling|}}
                                      <!-- Left red section (low range) -->
                                      <path d="M{{scaling.low.x}},36 
                                            h{{scaling.low.width}} 
                                            v10 
                                            h-{{scaling.low.width}} 
                                            a5,5 0 0 1 -5,-5 
                                            v0 
                                            a5,5 0 0 1 5,-5" fill="url(#lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}})" />

                                      <!-- Middle green section (normal range) -->
                                      <rect width="{{scaling.normal.width}}" height="10" stroke-width="0"
                                        fill="url(#normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}})" x="{{scaling.normal.x}}" y="36" />

                                      <!-- Right red section (High range) -->
                                      <path d="M{{scaling.high.x}},36 
                                        h{{scaling.high.width}} 
                                        a5,5 0 0 1 5,5 
                                        v0 
                                        a5,5 0 0 1 -5,5 
                                        h-{{scaling.high.width}} 
                                        v-10" fill="url(#highGradient-{{toLowerCase (replace biomarkerName ' ' '')}})" />

                                      {{!-- Optimal range - Hidden for now --}}
                                      {{!-- <rect class="jssR01" width="80" height="10" stroke-width="0" fill="#85bb83"
                                        x="106" y="36" rx="5" ry="5"></rect> --}}

                                      <!-- Vertical dividing lines -->
                                      {{!--
                                      <line x1="76" y1="36" x2="76" y2="46" stroke="black" stroke-width="1" />
                                      <line x1="210" y1="36" x2="210" y2="46" stroke="black" stroke-width="1" /> --}}

                                      <!-- Range numbers -->

                                      <!-- left value -->
                                      <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition 0}}" y="58"
                                        style="font-size: 12px;">
                                        0</text>
                                      <!-- Low/Normal threshold -->
                                      <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition range.min}}"
                                        y="58" style="font-size: 12px;">{{range.min}}</text>
                                      <!-- Normal/High transition -->
                                      <text text-anchor="middle" class="jssN03"
                                        x="{{scaling.getLabelPosition range.max 'max'}}" y="58"
                                        style="font-size: 12px;">{{range.max}}</text>
                                      <!-- High threshold -->
                                      <text text-anchor="middle" class="jssN03" x="{{scaling.getLabelPosition range.max}}"
                                        y="58" style="font-size: 12px;"></text>

                                      <!-- Range labels -->
                                      <text text-anchor="middle" class="jssT01"
                                        x="{{add scaling.low.x (multiply scaling.low.width 0.5)}}" y="75"
                                        style="font-size: 12px;">Low</text>
                                      <text text-anchor="middle" class="jssT02"
                                        x="{{add scaling.normal.x (multiply scaling.normal.width 0.5)}}" y="75"
                                        style="font-size: 12px;">Normal</text>
                                      <text text-anchor="middle" class="jssT02"
                                        x="{{add scaling.high.x (multiply scaling.high.width 0.5)}}" y="75"
                                        style="font-size: 12px;">High</text>

                                      <!-- Marker -->
                                      <circle class="jssC01" cx="{{scaling.getMarkerPosition ../../value}}" cy="41" r="3"
                                        stroke="black" stroke-width="4" fill="black"></circle>
                                      <!-- Value display -->
                                      <text text-anchor="middle" class="jssN04"
                                        x="{{scaling.getMarkerPosition ../../value}}" y="25" style="font-size: 12px;"
                                        fill="black" direction="ltr">{{../../value}}
                                        {{../../unit}}</text>
                                      {{/with}}
                                      {{/with}}
                                    </svg>
                                  </div>
                                </div>
                            </div>
                            <div class="biomarker-bottom">
                              <div class="biomarker-content-divider">
                                <div class="biomarker-content-divider2"></div>
                              </div>
                              <div class="biomarker-textbox-container">
                                <div class="columns w-row">
                                  <div class="column-2 w-col w-col-6">
                                    <p class="biomarker-textbox">{{biomarker.description}}
                                      <a href={{biomarker.link}} class="link-2">
                                        <sup class="superscript">{{biomarker.id}}</sup></a>
                                    </p>
                                  </div>
                                  <div class="column w-col w-col-6">
                                    <div class="html-embed chart w-embed">
                                      <div id="biomarker-trend-{{toLowerCase (replace biomarkerName ' ' '')}}"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                        </div>
                      </nav>
                    </div>
              </div>
              {{/if}}
              {{/each}}

              <!-- Categories WITHOUT biomarkers -->
              {{#each markerCategories as |category|}}
              {{#unless (hasBiomarkersInCategory ../biomarkerData category.name)}}
              <div id="{{category.name}}" class="dropdown-content-top inactive-category">
                <div data-hover="false" data-delay="0" class="category-dropdown-icon-2 w-dropdown">
                  <div class="category-dropdown-toggle w-dropdown-toggle">
                    <div class="category-title-dropdown-container dropdown-container">
                      <h3 class="category-subtitle">{{category.name}}</h3>
                      <span class="dropdown-arrow"></span>
                    </div>
                  </div>
                  <nav class="category-dropdown-list w-dropdown-list">
                    <div class="dropdown-content-bottom">
                      <div class="no-biomarkers-message-container">
                        <div class="no-biomarkers-message">No lab results available</div>
                      </div>
                    </div>
                  </nav>
                  </div>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>

          <div data-w-tab="By Frequency" class="w-tab-pane">
            <div class="dropdown-wrapper">
              
              <!-- Frequencies WITH biomarkers -->
              {{#each (getUniqueFrequencies biomarkerData) as |frequency|}}
              {{#if (hasBiomarkersInFrequency ../biomarkerData frequency)}}
              <div class="dropdown-content-top">
                <div data-hover="false" data-delay="0" class="category-dropdown-icon-2 w-dropdown">
                  <div class="category-dropdown-toggle w-dropdown-toggle">
                    <div class="category-title-dropdown-container dropdown-container">
                      <h3 class="category-subtitle">{{frequency}}</h3>
                      <span class="dropdown-arrow"></span>
                    </div>
                  </div>
                  <nav class="category-dropdown-list w-dropdown-list">
                    <div class="dropdown-content-bottom">
                      <div class="w-layout-grid table-headers _3-columns">
                        <div class="caption-large">Marker</div>
                        <div class="caption-large">details<br></div>
                        <div class="caption-large">Results</div>
                        <div class="caption-large">RANGE BAR</div>
                      </div>

                      {{#each ../biomarkerData as |biomarker biomarkerName|}}
                      {{#if (and biomarker.frequency (eq biomarker.frequency frequency))}}
                      {{#if biomarker.value}}
                      <article class="biomarker-container">
                        <div class="biomarker-container-hover">
                          <div>
                            <div class="w-layout-grid biomarker-table-top _3-columns">
                              <div class="biomarker">{{biomarkerName}}</div>
                              <div class="biomarker-dropdown">
                                <div class="stripe-1"></div>
                                <div class="stripe-2"></div>
                              </div>
                              <div class="biomarker-result">{{biomarker.value}} {{biomarker.unit}}</div>
                              <div class="html-embed w-embed">
                                <div id="range-bar-{{toLowerCase (replace biomarkerName ' ' '')}}" class="svgBoxContainer">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0, 0, 420, 90" width="95%"
                                    class="svgBoxContent">

                                    <!-- Gradients -->
                                    <defs>
                                      <linearGradient id="optimalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#9be29b;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#85bb83;stop-opacity:1" />
                                      </linearGradient>
                                      <linearGradient id="normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#c7ebc5;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#b7ddb5;stop-opacity:1" />
                                      </linearGradient>
                                      <linearGradient id="highGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                      </linearGradient>
                                      <linearGradient id="lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                      </linearGradient>
                                    </defs>

                                    {{!-- Range Bar Lengths, Colors, Shapes, etc --}}
                                    {{#with (parseReferenceRange biomarker.referenceRange) as |range|}}
                                    {{#with (calculateRangeScaling range.min range.max) as |scaling|}}
                                    <!-- Left red section (low range) -->
                                    <path d="M{{scaling.low.x}},36 
                                          h{{scaling.low.width}} 
                                          v10 
                                          h-{{scaling.low.width}} 
                                          a5,5 0 0 1 -5,-5 
                                          v0 
                                          a5,5 0 0 1 5,-5" 
                                          fill="url(#lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq)" />

                                    <!-- Middle green section (normal range) -->
                                    <rect width="{{scaling.normal.width}}" height="10" stroke-width="0"
                                      fill="url(#normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq)" x="{{scaling.normal.x}}" y="36"/>

                                    <!-- Right red section (High range) -->
                                    <path d="M{{scaling.high.x}},36 
                                      h{{scaling.high.width}} 
                                      a5,5 0 0 1 5,5 
                                      v0 
                                      a5,5 0 0 1 -5,5 
                                      h-{{scaling.high.width}} 
                                      v-10" fill="url(#highGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-freq)"/>

                                    {{!-- Optimal range - Hidden for now --}}
                                    {{!-- <rect class="jssR01" width="80" height="10" stroke-width="0" fill="#85bb83"
                                      x="106" y="36" rx="5" ry="5"></rect> --}}

                                    <!-- Vertical dividing lines -->
                                    {{!--
                                    <line x1="76" y1="36" x2="76" y2="46" stroke="black" stroke-width="1" />
                                    <line x1="210" y1="36" x2="210" y2="46" stroke="black" stroke-width="1" /> --}}

                                    <!-- Range numbers -->

                                    <!-- left value -->
                                    <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition 0}}" y="58"
                                      style="font-size: 12px;">
                                      0</text>
                                    <!-- Low/Normal threshold -->
                                    <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition range.min}}"
                                      y="58" style="font-size: 12px;">{{range.min}}</text>
                                    <!-- Normal/High transition -->
                                    <text text-anchor="middle" class="jssN03"
                                      x="{{scaling.getLabelPosition range.max 'max'}}" y="58"
                                      style="font-size: 12px;">{{range.max}}</text>
                                    <!-- High threshold -->
                                    <text text-anchor="middle" class="jssN03" x="{{scaling.getLabelPosition range.max}}"
                                      y="58" style="font-size: 12px;"></text>

                                    <!-- Range labels -->
                                    <text text-anchor="middle" class="jssT01"
                                      x="{{add scaling.low.x (multiply scaling.low.width 0.5)}}" y="75"
                                      style="font-size: 12px;">Low</text>
                                    <text text-anchor="middle" class="jssT02"
                                      x="{{add scaling.normal.x (multiply scaling.normal.width 0.5)}}" y="75"
                                      style="font-size: 12px;">Normal</text>
                                    <text text-anchor="middle" class="jssT02"
                                      x="{{add scaling.high.x (multiply scaling.high.width 0.5)}}" y="75"
                                      style="font-size: 12px;">High</text>

                                    <!-- Marker -->
                                    <circle class="jssC01" cx="{{scaling.getMarkerPosition biomarker.value}}" cy="41" r="3"
                                      stroke="black" stroke-width="4" fill="black"></circle>
                                    <!-- Value display -->
                                    <text text-anchor="middle" class="jssN04"
                                      x="{{scaling.getMarkerPosition biomarker.value}}" y="25" style="font-size: 12px;"
                                      fill="black" direction="ltr">{{biomarker.value}}
                                      {{biomarker.unit}}</text>
                                    {{/with}}
                                    {{/with}}
                                  </svg>                              
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="biomarker-bottom">
                            <div class="biomarker-content-divider">
                              <div class="biomarker-content-divider2"></div>
                            </div>
                            <div class="biomarker-textbox-container">
                              <div class="columns w-row">
                                <div class="column-2 w-col w-col-6">
                                  <p class="biomarker-textbox">{{biomarker.description}}
                                    <a href={{biomarker.link}} class="link-2">
                                      <sup class="superscript">{{biomarker.id}}</sup>
                                    </a>
                                  </p>
                                </div>
                                <div class="column w-col w-col-6">
                                  <div class="html-embed chart w-embed">
                                    <div id="biomarker-trend-{{toLowerCase (replace biomarkerName ' ' '')}}-freq"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                      {{/if}}
                      {{/if}}
                      {{/each}}
                      </div>
                    </nav>
                  </div>
                </div>
              {{/if}}
            {{/each}}

                  <!-- Frequencies WITHOUT biomarkers -->
            {{#each (getUniqueFrequencies biomarkerData) as |frequency|}}
            {{#unless (hasBiomarkersInFrequency ../biomarkerData frequency)}}
              <div class="dropdown-content-top inactive-category">
                <div data-hover="false" data-delay="0" class="category-dropdown-icon-2 w-dropdown">
                  <div class="category-dropdown-toggle w-dropdown-toggle">
                    <div class="category-title-dropdown-container dropdown-container">
                      <h3 class="category-subtitle">{{frequency}}</h3>
                      <span class="dropdown-arrow"></span>
                    </div>
                  </div>
                  <nav class="category-dropdown-list w-dropdown-list">
                    <div class="dropdown-content-bottom">
                      <div class="no-biomarkers-message-container">
                        <div class="no-biomarkers-message">No lab results available</div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
              {{/unless}}
              {{/each}}
            </div>
          </div>

          <div data-w-tab="All" class="w-tab-pane">
            <div class="dropdown-wrapper">
                <div class="table-headers-all">
                  <div class="caption-large">Marker</div>
                  <div class="caption-large">details<br></div>
                  <div class="caption-large">Results</div>
                  <div class="caption-large">RANGE BAR</div>
                </div>

                {{#each biomarkerData as |biomarker biomarkerName|}}
                {{#if biomarker.value}}
                <article class="biomarker-container">
                  <div class="biomarker-container-hover">
                    <div>
                      <div class="w-layout-grid-all biomarker-table-top _3-columns">
                        <div class="biomarker">{{biomarkerName}}</div>
                        <div class="biomarker-dropdown">
                          <div class="stripe-1"></div>
                          <div class="stripe-2"></div>
                        </div>
                        <div class="biomarker-result">{{biomarker.value}} {{biomarker.unit}}</div>
                        <div class="html-embed w-embed">
                          <div id="range-bar-{{toLowerCase (replace biomarkerName ' ' '')}}" class="svgBoxContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0, 0, 420, 90" width="95%"
                              class="svgBoxContent">

                              <!-- Gradients -->
                              <defs>
                                <linearGradient id="optimalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%" style="stop-color:#9be29b;stop-opacity:1" />
                                  <stop offset="100%" style="stop-color:#85bb83;stop-opacity:1" />
                                </linearGradient>
                                <linearGradient id="normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%" style="stop-color:#c7ebc5;stop-opacity:1" />
                                  <stop offset="100%" style="stop-color:#b7ddb5;stop-opacity:1" />
                                </linearGradient>
                                <linearGradient id="highGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                  <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                </linearGradient>
                                <linearGradient id="lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all" x1="0%" y1="0%" x2="0%" y2="100%">
                                  <stop offset="0%" style="stop-color:#ffb7b7;stop-opacity:1" />
                                  <stop offset="100%" style="stop-color:#f0a7a7;stop-opacity:1" />
                                </linearGradient>
                              </defs>

                              {{!-- Range Bar Lengths, Colors, Shapes, etc --}}
                              {{#with (parseReferenceRange biomarker.referenceRange) as |range|}}
                              {{#with (calculateRangeScaling range.min range.max) as |scaling|}}
                              <!-- Left red section (low range) -->
                              <path d="M{{scaling.low.x}},36 
                                    h{{scaling.low.width}} 
                                    v10 
                                    h-{{scaling.low.width}} 
                                    a5,5 0 0 1 -5,-5 
                                    v0 
                                    a5,5 0 0 1 5,-5" fill="url(#lowGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all)"/>

                              <!-- Middle green section (normal range) -->
                              <rect width="{{scaling.normal.width}}" height="10" stroke-width="0"
                                fill="url(#normalGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all)"x="{{scaling.normal.x}}" y="36" />

                              <!-- Right red section (High range) -->
                              <path d="M{{scaling.high.x}},36 
                                h{{scaling.high.width}} 
                                a5,5 0 0 1 5,5 
                                v0 
                                a5,5 0 0 1 -5,5 
                                h-{{scaling.high.width}} 
                                v-10" 
                                fill="url(#highGradient-{{toLowerCase (replace biomarkerName ' ' '')}}-all)" />

                              {{!-- Optimal range - Hidden for now --}}
                              {{!-- <rect class="jssR01" width="80" height="10" stroke-width="0" fill="#85bb83"
                                x="106" y="36" rx="5" ry="5"></rect> --}}

                              <!-- Vertical dividing lines -->
                              {{!--
                              <line x1="76" y1="36" x2="76" y2="46" stroke="black" stroke-width="1" />
                              <line x1="210" y1="36" x2="210" y2="46" stroke="black" stroke-width="1" /> --}}

                              <!-- Range numbers -->

                              <!-- left value -->
                              <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition 0}}" y="58"
                                style="font-size: 12px;">
                                0</text>
                              <!-- Low/Normal threshold -->
                              <text text-anchor="middle" class="jssN01" x="{{scaling.getLabelPosition range.min}}"
                                y="58" style="font-size: 12px;">{{range.min}}</text>
                              <!-- Normal/High transition -->
                              <text text-anchor="middle" class="jssN03"
                                x="{{scaling.getLabelPosition range.max 'max'}}" y="58"
                                style="font-size: 12px;">{{range.max}}</text>
                              <!-- High threshold -->
                              <text text-anchor="middle" class="jssN03" x="{{scaling.getLabelPosition range.max}}"
                                y="58" style="font-size: 12px;"></text>

                              <!-- Range labels -->
                              <text text-anchor="middle" class="jssT01"
                                x="{{add scaling.low.x (multiply scaling.low.width 0.5)}}" y="75"
                                style="font-size: 12px;">Low</text>
                              <text text-anchor="middle" class="jssT02"
                                x="{{add scaling.normal.x (multiply scaling.normal.width 0.5)}}" y="75"
                                style="font-size: 12px;">Normal</text>
                              <text text-anchor="middle" class="jssT02"
                                x="{{add scaling.high.x (multiply scaling.high.width 0.5)}}" y="75"
                                style="font-size: 12px;">High</text>

                              <!-- Marker -->
                              <circle class="jssC01" cx="{{scaling.getMarkerPosition biomarker.value}}" cy="41" r="3"
                                stroke="black" stroke-width="4" fill="black"></circle>
                              <!-- Value display -->
                              <text text-anchor="middle" class="jssN04"
                                x="{{scaling.getMarkerPosition biomarker.value}}" y="25" style="font-size: 12px;"
                                fill="black" direction="ltr">{{biomarker.value}}
                                {{biomarker.unit}}</text>
                              {{/with}}
                              {{/with}}
                            </svg>
                          </div>
                        </div>
                    </div>
                    <div class="biomarker-bottom">
                      <div class="biomarker-content-divider">
                        <div class="biomarker-content-divider2"></div>
                      </div>
                      <div class="biomarker-textbox-container">
                        <div class="columns w-row">
                          <div class="column-2 w-col w-col-6">
                            <p class="biomarker-textbox">{{biomarker.description}}
                              <a href={{biomarker.link}} class="link-2">
                                <sup class="superscript">{{biomarker.id}}</sup></a>
                            </p>
                          </div>
                          <div class="column w-col w-col-6">
                            <div class="html-embed chart w-embed">
                              <div id="biomarker-trend-{{toLowerCase (replace biomarkerName ' ' '')}}-all"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                {{/if}}
                {{/each}}
                {{#else}}
                <div class="no-biomarkers-message">No lab results available</div>
                {{/else}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>